*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#container {
    width: 50dvw;
    height: 100dvh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-radius: 5px;
    padding: 5px;
}